body, html {
  height: 100% !important;
  margin: 0 !important;
  color: #e4e6eb !important;;
  background-color: #282c34 !important;
}

.App {
  text-align: center;
  padding-top: 56px;
}

.NotFound {
  padding: 20px;
}

a, .navbar-brand, .nav-link {
  color: #9aa0a6 !important;
}

a:hover, .navbar-brand:hover, .nav-link:hover {
  color: #ffffff !important;
}
