.category-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tick-mark {
  color: green;
  margin-right: 8px;
  display: none;
}

.tick-mark:not(.hidden) {
  display: inline;
}

.active-category {
  color: green;
}

.hidden {
  display: none;
}
